<div class="container-fluid">
  <div class="col slide">
    <div class="row header align-items-center">
      <div class="col-lg-6 header-left">
        <h1 class="logo"><a class="no-style" routerLink="/">HeadScroll.io <span class="bold bg-beta rounded px-1">beta</span></a></h1>
      </div>
      <div class="col-lg-6 header-right">
        <a routerLink="/" class="undelin"><u>Home</u></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="title">Frequently Asked Questions</h1>
      </div>
    </div>
    <div class="row content">
      <div class="col-lg-4">
        <picture>
          <source srcset="assets/faq.webp" type="image/webp" />
          <img class="feature-image" src="assets/faq.png" alt="Woman holding a lightbulb" />
        </picture>
      </div>
      <div class="col-lg-8">
        <h2 class="display-4 subtitle">How does it work?</h2>
        <p class="description">
          In plain English, I took about 5000 pictures and managed to teach a machine what a tilted head was, and what it was not.
          <br /><br />
          In other words, I created a model using Google's <span class="bold">Teachable Machine</span>, put it on an Angular application,
          and scrolled a website every time the model told me there was a tilted head.
        </p>
        <br />
        <h2 class="display-4 subtitle">What's on the roadmap?</h2>
        <p class="description">
          The next step is release HeadScroll as a native app (the kind you install in your computer) so that you can scroll
          any website without restrictions and with a better user experience. <br><br>
          
          But just like I told my mom when I was born, keep your expectations down.
        </p>
        <br />
        <h2 class="display-4 subtitle">Is it open source?</h2>
        <p class="description">
          Yes! The code is available <a class="external-link" href="https://github.com/jdjuan/headscroll" target="_blank">here</a>.
          Contributions and issues are always welcomed.
        </p>
        <br />
        <h2 class="display-4 subtitle">Why can't you display certain websites?</h2>
        <p class="description">
          It's complicated.<br />
          I'm using an iframe to embed the websites and that already adds a lot of contraints. There's not even a reliable way to know if a
          website was displayed correctly other than user's feedback, so you can imagine.<br />
          That's why a native app would likely be the way to go.
        </p>
        <br />
        <h2 class="display-4 subtitle">Who's behind this project?</h2>
        <p class="description">
          For legal matters, suits, or millionaire deals, it's just
          <a class="external-link" href="https://twitter.com/jdjuan" target="_blank">me</a>.<br />
          But HeadScroll wouldn't have been possible without the endless support of my family, my partner, and my friends. I also want to
          thank <span class="bold">you!</span> For motivating me to deliver when I first published a
          <a class="external-link" href="https://twitter.com/jdjuan/status/1330805748239097861" target="_blank">quick peak</a> of
          HeadScroll.
        </p>
      </div>
    </div>
  </div>
</div>
