<div class="container-fluid">
  <div class="col slide">
    <div class="row header align-items-center">
      <div class="col-lg-6 header-left">
        <h1 class="logo">
          <a class="no-style" routerLink="/">HeadScroll.io <span class="bold bg-beta rounded px-1">beta</span></a>
        </h1>
      </div>
      <div class="col-lg-6 header-right">
        <a routerLink="/" class="undelin"><u>Home</u></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1 class="title">Frequently Asked Questions</h1>
      </div>
    </div>
    <div class="row content">
      <div class="col-lg-4">
        <picture>
          <source srcset="assets/faq.webp" type="image/webp" />
          <img class="feature-image" src="assets/faq.png" alt="Woman holding a lightbulb" />
        </picture>
      </div>
      <div class="col-lg-8">
        <h2 class="display-4 subtitle">How does it work?</h2>
        <p class="description">
          In plain English, we took about <span class="bold">5000 pictures</span> and managed to teach a machine what a tilted head was, and
          what it was not. In other words, we created a model using Google's <span class="bold">Teachable Machine</span>, put it on an
          Angular application, and scrolled a website every time the model told us there was a tilted head.
        </p>
        <br />
        <h2 class="display-4 subtitle">What's on the roadmap?</h2>
        <p class="description">
          The next step is release HeadScroll as a <span class="bold">native app</span> (the kind you install on your computer) so that you
          can scroll any website without restrictions and with a better user experience. But just like we told our moms when we were born,
          <span class="bold">keep your expectations down</span>.
        </p>
        <br />
        <h2 class="display-4 subtitle">Is it open source?</h2>
        <p class="description">
          Yes! The code is available <a class="external-link" href="https://github.com/jdjuan/headscroll" target="_blank">here</a>.
          Contributions and issues are always welcomed.
        </p>
        <br />
        <h2 class="display-4 subtitle">Where can I submit feedback?</h2>
        <p class="description">
          Email us at
          <a href="mailto:david.juanherrera@gmail.com" target="_blank" class="external-link">david.juanherrera@gmail.com</a> or you can use
          our exceptional
          <a
            href="https://twitter.com/messages/compose?recipient_id=302885922&text=I%20have%20some%20feedback%20:)"
            class="external-link"
            target="_blank"
            data-screen-name="@jdjuan"
          >
            support system</a
          >
          available 24/7.
        </p>
        <br />
        <h2 class="display-4 subtitle">Who's behind this project?</h2>
        <p class="description">
          For legal matters, lawsuits, or millionaire deals, it's just us (<a
            class="external-link"
            href="https://twitter.com/jdjuan"
            target="_blank"
            >Juan</a
          >
          & <a class="external-link" href="https://twitter.com/jdjuan" target="_blank">Felipe</a>). But HeadScroll wouldn't have been
          possible without the support of these people:
        </p>
        <div class="text-left">
          <div class="person">Our families</div>
          <div class="person">Anna Mikulics</div>
          <div class="person">Rubeat Umar</div>
          <div class="person">Samuel Strunk</div>
          <div class="person">Kati Antenreiter</div>
          <div class="person">Anna Aigner</div>
          <div class="person">Raphael Kühberger</div>
          <div class="person">Uldis</div>
          <div class="person">Craig Spence</div>
          <div class="person">Dominika Zając</div>
          <div class="person">Sigrid Prenner</div>
          <div class="person">Alejandra García Ome</div>
          <div class="person">José Rodríguez</div>
          <div class="person">Melanie Obermeier</div>
          <div class="person">Konny Hoffmann</div>
          <div class="person">Michael Stifter</div>
          <div class="person">Jose Cuartas</div>
          <div class="person">Clara Schlee</div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright text-right w-100 font-weight-lighter p-2" [style.font-size.rem]="0.7">&copy; Copyright 2021, HeadScroll, All rights reserved</div>
</div>
