<div class="row pre-slide" id="about-section">
  <div class="col">
    <img src="assets/separator.svg" class="separator" alt="" />
  </div>
</div>

<div class="row slide">
  <div class="col-lg-6">
    <img class="picture" src="assets/me2.jpg" alt="" />
    <!-- <div class="square"> -->
    <!-- <h4 class="subtitle">Juan Herrera</h4></div> -->
  </div>
  <div class="col-lg-6">
    <h2 class="title">About</h2>
    <div class="steps text-left">
      <p class="summary">Hello there! I'm <span class="bold">Juan Herrera</span>, a Colombian software engineer currently based in Austria.</p>
      <p class="description">
        I've been playing guitar for about 20 years and ever since I have to interrupt my "delightful" concerts to scroll my tabs. One day, a procrastination whim lured me into finding a solution. There wasn't any. So I kept procrastinating for about 200 hours and here we are.<br><br>
        Follow me on <a class="external-link" href="https://twitter.com/jdjuan" target="_blank">Twitter</a>, or subscribe to my <a class="external-link" href="https://jdjuan.us2.list-manage.com/subscribe/post?u=395582e416a0c357e50836500&id=4a66f17d42" target="_blank">Newsletter</a> to hear about future projects. 
      </p>
    </div>
    <br /><br />
  </div>
</div>
