@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.pre-slide {
  background-color: $omega;
  margin-top: 5rem;
  .col {
    padding: 0;
  }
}
