<div class="config-option">
  <h4 class="config-title">Scrolling Speed</h4>
  <div
    class="btn-group btn-group-toggle rating-mobile"
    ngbRadioGroup
    name="radioBasic"
    (change)="updateSpeed()"
    [(ngModel)]="scrollSpeed"
  >
    <label ngbButtonLabel class="btn-omega"> <input ngbButton type="radio" [value]="1" />1</label>
    <label ngbButtonLabel class="btn-omega"> <input ngbButton type="radio" [value]="5" />2</label>
    <label ngbButtonLabel class="btn-omega"> <input ngbButton type="radio" [value]="10" />3</label>
    <label ngbButtonLabel class="btn-omega"> <input ngbButton type="radio" [value]="15" />4</label>
    <label ngbButtonLabel class="btn-omega"> <input ngbButton type="radio" [value]="20" />5</label>
  </div>
</div>

<div class="config-option">
  <h4 class="config-title">Switch Camera</h4>
  <select (change)="updateCamera($event.target.value)" class="custom-select camera-select text-center">
    <option [selected]="selectedCamera === cam.deviceId" [value]="cam.deviceId" *ngFor="let cam of cameras">{{ cam.label }}</option>
  </select>
</div>
<div class="config-option">
  <h4 class="config-title">Direction</h4>
  <div
    class="btn-group btn-group-toggle"
    ngbRadioGroup
    name="radioBasic"
    (change)="updateDirection(!!$event.target.value)"
    [(ngModel)]="direction"
  >
    <label ngbButtonLabel class="btn-omega"> <input ngbButton type="radio" [value]="false" />Default </label>
    <label ngbButtonLabel class="btn-omega"> <input ngbButton type="radio" [value]="true" />Inverted </label>
  </div>
</div>
<div class="config-option">
  <h4 class="config-title">Website didn't load?</h4>
  <button
    class="btn btn-omega report-button"
    (click)="sendReport()"
    ngbTooltip="Thanks! We will take a look into this. Sometimes we can't do much about it, but we'll do our best! Now please try using another website."
    triggers="manual"
    #reportTooltip="ngbTooltip"
  >
    Send Automatic Report
  </button>
  <div class="sent-label" *ngIf="isReportSent"> <i class="bi bi-check-circle-fill"></i> Sent!</div>
</div>
