@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.slide {
  margin-top: 2rem;
  text-align: center;
}

.left-content {
  text-align: center;
}

.feature-image {
  width: 80%;
}

.title {
  font-size: min(60px, 7vh);
  margin-bottom: 2rem;
}

.description {
  font-size: 1.6rem;
  font-weight: 100;
}

.dynamic {
  background-color: #ffe6e6;
  color: #6155a6;
  background-color: #a685e2;
  color: #f0f8ff;
  padding: 3px 11px 6px 3px;
  border-radius: 6px;
  font-weight: 300;
  white-space: nowrap;
}

.button {
  font-weight: 300;
}

@include media-breakpoint-up(lg) {
  .slide {
    // margin-top: 5rem;
    text-align: inherit;
  }
  .feature-image {
    width: 90%;
    margin-top: 9rem;
    margin-bottom: 0px;
  }
  .title {
    margin-top: 10vw;
    font-size: 5vw;
    margin-bottom: 2rem;
  }
  .description {
    font-size: 2.5rem;
    font-weight: 100;
  }
  .dynamic {
    padding: 0px 12px 7px 4px;
  }
  .button {
    font-size: 2rem;
  }
}
