<div class="row slide">
  <div class="col-lg-6 order-lg-12 left-content">
    <picture>
      <source srcset="assets/donations.webp" type="image/webp" />
      <img class="feature-image" src="assets/donations.png" alt="People inspecting a computer" />
    </picture>
  </div>
  <div class="col-lg-6 order-lg-1">
    <h2 class="title">Feeling Generous?</h2>
    <p class="description">
      Kidding! You don't have to buy me a coffee, it's fine, seriously. <br />
      If you did, you'd made my day, but no pressure.<br /><br />
      <!-- Assuming you want to, you can buy me a coffee here. <br /><br /> -->

      <button>Let's buy him a coffee</button>

      <!-- Image processing is performed locally (on your device), so <span class="bold">we don't (and never will)</span> upload or store your camera stream data. <br><br> We <span class="bold">only</span> collect anonymous information such as basic web analytics and domains searched. -->
    </p>
    <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="jdjuan" data-color="#FFDD00" data-emoji=""  data-font="Bree" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
  </div>
</div>
