<app-modal
  title="Your camera is blocked"
  buttonText="Reload Website"
  link="https://twitter.com/jdjuan"
  linkText="Still stuck? Send me a message"
  assetName="camera"
  altText="Woman holding a camera"
  (proceed)="done()"
>
  We need <span class="bold">your help</span> fixing this.
  <a href="https://support.google.com/chrome/answer/2693767?co=GENIE.Platform%3DDesktop&hl=en" target="_blank"><u>Here</u></a> are some
  instructions on how to allow your camera. Try them out and then reload the website.</app-modal
>
