<div class="container-fluid">
    <div class="col slide">
      <div class="row header align-items-center">
        <div class="col-lg-6 header-left">
          <h1 class="logo">
            <a class="no-style" routerLink="/">HeadScroll.io <span class="bold bg-beta rounded px-1">beta</span></a>
          </h1>
        </div>
        <div class="col-lg-6 header-right">
          <a routerLink="/" class="undelin"><u>Home</u></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h1 class="title">Legal Stuff</h1>
        </div>
      </div>
      <div class="row content">
        <div class="col-lg-4">
          <picture>
            <source srcset="assets/faq.webp" type="image/webp" />
            <img class="feature-image" src="assets/faq.png" alt="Woman holding a lightbulb" />
          </picture>
        </div>
        <div class="col-lg-8">
          <h2 class="display-4 subtitle">You don't want your website to be embedded in ours?</h2>
          <p class="description">
            No problem. Send us an email, and we'll promply blacklist it so that you website is not accessible through HeadScroll anymore: <a href="mailto:david.juanherrera@gmail.com" target="_blank" class="external-link">david.juanherrera@gmail.com</a>
          </p>
          <br />
          <h2 class="display-4 subtitle">Terms and Conditions</h2>
          <p class="description">
            <a class="external-link" href="https://docs.google.com/document/d/1uWS6kaTLtPdvhe_otdfMQMVjaQvibACARW7xudNJeuU/edit?usp=sharing" target="_blank">Here</a> you can find a detailed description of our terms and conditions.
          </p>
          <br />
          <h2 class="display-4 subtitle">Privacy Policy</h2>
          <p class="description">
            We don't collect any identifiable information. If we do so in the future, we'll let you know, and put the detailed policy here.
          </p>
          <br />
          <h2 class="display-4 subtitle">You have other legal questions?</h2>
          <p class="description">
            Email us at
            <a href="mailto:david.juanherrera@gmail.com" target="_blank" class="external-link">david.juanherrera@gmail.com</a>. We are always looking forward to amicably help you with anything.
          </p>
        </div>
      </div>
    </div>
    <div class="copyright text-right w-100 font-weight-lighter p-2" [style.font-size.rem]="0.7">&copy; Copyright 2021, HeadScroll, All rights reserved</div>
  </div>
  