<div class="row slide">
  <div class="col-lg-6 order-lg-12">
    <picture>
      <source srcset="assets/privacy.webp" type="image/webp" />
      <img class="feature-image" src="assets/privacy.png" alt="People inspecting a computer" />
    </picture>
  </div>
  <div class="col-lg-6 order-lg-1">
    <h2 class="title">Your privacy is a priority</h2>
    <p class="description">
      We don't (and never will) store your camera stream data. We <span class="bold">only</span> collect anonymous information such as web analytics and domains searched.
    </p>
  </div>
</div>
