<div class="row slide">
  <div class="col-lg-6">
    <div class="square">
      <iframe class="w-100" height="100%" src="https://www.youtube-nocookie.com/embed/plKJ_ncj8u4?autoplay=1&controls=0&loop=1&playlist=plKJ_ncj8u4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
      <video width="100%" controls autoplay loop muted src="assets/bookmark.mp4" type="video/mp4"></video>
    </div>
  </div>
  <div class="col-lg-6">
    <h2 class="title">Our Bookmarklet</h2>
    <h4 class="subtitle">The fastest way to use HeadScroll</h4>
    <p class="note">(desktop only)</p>
    <div class="steps text-left">
      <p class="description">
        1. Drag
        <span class="bookmarklet">
          <a
            (click)="prevent($event)"
            class=""
            href="javascript: window.open('https://headscroll.io/scroller?website=' + encodeURIComponent(location.href));"
            >this</a
          >
          <a
            (click)="prevent($event)"
            class="bookmarklet-text"
            href="javascript: window.open('https://headscroll.io/scroller?website=' + encodeURIComponent(location.href));"
            >HeadScroll</a
          >
          <!-- <a
            (click)="prevent($event)"
            class="bookmarklet-text"
            href="javascript: window.open('http://localhost:3000/scroller?website=' + encodeURIComponent(location.href));"
            >HeadScroll</a
          > -->
        </span>
        into your bookmarks
      </p>
      <p class="description">2. Open a website you'd like to scroll</p>
      <p class="description">3. Press the bookmarklet!</p>
    </div>
    <br /><br />
  </div>
</div>
