<div class="row slide">
  <div class="col-lg-6 order-lg-12 left-content">
    <picture>
      <source srcset="assets/donations.webp" type="image/webp" />
      <img class="feature-image" src="assets/donations.png" alt="A pair of hands giving coffee to another pair of hands" />
    </picture>
  </div>
  <div class="col-lg-6 order-lg-1">
    <h2 class="title">Feeling Generous?</h2>
    <p class="description">
      Kidding! You don't have to buy us a coffee, it's fine, seriously. <br />
      If you did, you'd made our day, but no pressure.<br /><br />
      <a href="https://www.buymeacoffee.com/jdjuan" target="_blank" class="button">Let's buy them a coffee</a>
    </p>
    <script
      type="text/javascript"
      src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
      data-name="bmc-button"
      data-slug="jdjuan"
      data-color="#FFDD00"
      data-emoji=""
      data-font="Bree"
      data-text="Buy me a coffee"
      data-outline-color="#000000"
      data-font-color="#000000"
      data-coffee-color="#ffffff"
    ></script>
  </div>
</div>
