<div class="row slide">
  <div class="col-lg-6 order-lg-12 left-content">
    <picture>
      <source srcset="assets/donations.webp" type="image/webp" />
      <img class="feature-image" src="assets/donations.png" alt="A pair of hands giving coffee to another pair of hands" />
    </picture>
  </div>
  <div class="col-lg-6 order-lg-1">
    <h2 class="title">Feeling Generous?</h2>
    <p class="description">
      No, we don't want your money (yet). All we ask for is <span class="bold">a tweet</span>. That's the new currency (you know, millenials). <br><br>
      But it all seriousness, nothing would make us happier than seeing a lot of people use #HeadScroll. Spread the word, or simply click the button below and we'll craft a tweet for you!<br><br>
      <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fheadscroll.io%2F&text=I%20just%20found%20this%20cool%20app%20called%20%23HeadScroll&hashtags="
      data-size="large" target="_blank" rel="noopener noreferrer" class="button">Tweet about HeadScroll</a>
    </p>
  </div>
</div>
