<div class="row slide">
  <div class="col-lg-6">
    <picture>
      <source srcset="assets/guitar.webp" type="image/webp" />
      <img class="feature-image" src="assets/guitar.png" alt="Woman playing guitar" />
    </picture>
  </div>
  <div class="col-lg-6">
    <h2 class="title">Don't stop the music!</h2>
    <p class="description">
      Play your &nbsp;<span class="dynamic"><p class="instrument">{{ instrument }}</p></span>&nbsp; without interruptions. HeadScroll helps you follow your <span class="bold">music sheets, tabs,</span> or <span class="bold">chords.</span>
    </p>
    <br /><br />
  </div>
</div>
