<div class="container-fluid">
  <div class="spinner">
    <p>We're getting things ready for you...</p>
    <div *ngIf="isLoading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="row align-items-center" [class.hide]="isLoading">
    <div class="col-lg-2">
      <h1 class="logo">
        <a routerLink="/">HeadScroll.io <span class="bold bg-beta rounded px-1">beta</span></a>
      </h1>
    </div>
    <div class="col-lg-10 text-right">
      <app-search-field (search)="searchWebsite($event)" [url]="website"></app-search-field>
    </div>
  </div>
  <div class="row" [class.hide]="isLoading">
    <div class="col-lg-2">
      <app-camera
        *ngIf="shouldRequestCam"
        (cameraLoaded)="onCameraLoaded()"
        (scrollDown)="scrollDown()"
        (scrollUp)="scrollUp()"
      ></app-camera>
    </div>
    <div class="col-lg-10">
      <div #iframeWrapper class="iframe-wrapper" [class.mobile]="isMobile">
        <iframe class="iframe" [src]="websiteSafeUrl" [height]="iframeHeight"></iframe>
      </div>
    </div>
  </div>
</div>
