<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>HeadScroll</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="zoomIn()" aria-label="Zoom in" matTooltip="Zoom in">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomOut()" aria-label="Zoom out" matTooltip="Zoom out">
    <mat-icon>zoom_out</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #sidenav mode="over" class="sidenav-menu">
    <app-sidenav
      [availableCameras]="availableCameras"
      [showSkeleton]="showSkeleton"
      (changeCamera)="onChangeCamera($event)"
      (toggleSkeleton)="showSkeleton = !showSkeleton"
    ></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-camera
      [availableCameras]="availableCameras"
      [showSkeleton]="showSkeleton"
      [selectedDeviceId]="selectedDeviceId"
      [mobile]="isMobile"
      (scrollDown)="scrollDown()"
      (scrollUp)="scrollUp()"
      (deviceId)="scrollUp()"
      (deviceId)="scrollUp()"
    ></app-camera>
    <div #iframeWrapper class="iframe-wrapper" [class.mobile]="isMobile">
      <iframe class="iframe" [style.transform]="getZoom()" #iframe [src]="source" [height]="iframeHeight"></iframe>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
