@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.url-input {
  width: 40%;
  font-size: 16px;
  background-color: #ffeb3b;
  color: darkslategray;
  border: none;
  padding: 0px 7px;
  border-radius: 5px;
  border: 2px solid black;
}

.iframe-wrapper {
  border-radius: 10px;
  box-shadow: 0px 0px 1rem 3px #371f63;
  // DO NO ERASE
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(97vh - 64px);
  &.mobile {
    height: calc(94vh - 64px); // To account for the mobile browser navbar
  }
  .iframe {
    width: 100%;
    border: none;
    transform-origin: 0 0;
  }
  // DO NO ERASE
}

@include media-breakpoint-up(lg) {
}
