.label {
  margin: 0;
  margin-right: 4px;
  font-size: 18px;
}

.url-input {
  width: 40%;
  font-size: 16px;
  background-color: #FFEB3B;
  color: darkslategray;
  border: none;
  padding: 0px 7px;
  border-radius: 5px;
  border: 2px solid black;
}

.sidenav-menu {
  padding: 2rem;
  .menu-item {
    margin-bottom: 1rem;
  }
}
.iframe-wrapper {
  overflow: scroll;
  height: calc(100vh - 64px);
  &.mobile {
    height: calc(94vh - 64px); // Weird bug on mobile phones
  }
  .iframe {
    width: 100%;
    border: none;
    transform-origin: 0 0;
  }
}
