<div class="container">
  <div class="col column" [class.compact]="compact">
    <div class="row mx-1 text-center">
      <div class="col content">
        <h1 class="mb-4">{{ title }}</h1>
        <p class="description">
          <ng-content></ng-content>
        </p>
        <br /><br />
        <button class="button" (click)="onProceed()">{{ buttonText }}</button>
        <br /><br />
        <a *ngIf="link" [href]="link" class="external-link" target="_blank">{{ linkText }}</a>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <picture class="picture" [class.compact]="compact">
        <source [srcset]="'assets/' + assetName + '.webp'" type="image/webp" />
        <img class="image" [src]="'assets/' + assetName + '.png'" [alt]="altText" />
      </picture>
    </div>
  </div>
</div>
