@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.slide {
  text-align: center;
}

.content {
  margin-top: 1.5vh;
  .content-right {
    display: none;
  }
  .square {
    border-radius: 10px;
    background-color: $alpha;
    display: inline-block;
    margin-bottom: 1rem;

    width: 81vw;
    height: 47vw;
    border-radius: 10px;
    overflow: hidden;
    border: 6px solid $theta;
  }
  .title {
    font-size: 13vw;
    margin-bottom: 3vw;
  }

  .description {
    margin-bottom: 7vh;
    font-weight: 100;
    font-size: 16px;
    font-size: max(16px, 2.5vw);
    padding: 0px 18px;
  }

  .call-to-action {
    font-size: min(30px, 6vw);
    margin-bottom: 1rem;
    font-weight: 100;
  }

  .demo {
    padding: 5px 6px;
    cursor: pointer;
  }
}

@include media-breakpoint-up(lg) {
  .slide {
    text-align: inherit;
  }
  .content {
    margin-top: 3rem;
    margin-bottom: 10vh;
    .content-right {
      display: block;
      text-align: right;
    }
    .title {
      font-size: 5.7vw;
      margin-bottom: 2rem;
    }
    .description {
      margin-bottom: 10rem;
      line-height: 2rem;
      font-size: max(25px, 1.1vw);
      padding: 0px;
      padding-right: 6vw;
    }
    .call-to-action {
      font-size: 2.5rem;
    }
    .demo {
      padding: 2px 10px 6px;
      margin: 0 3px;
    }
    .wave {
      display: block;
      position: absolute;
      z-index: -1;
      width: 150vh;
      left: -30vh;
      top: -61vh;
    }
    .square {
      width: 41vw;
      height: 23.5vw;
      border: 10px solid black;
      box-shadow: 0px 0px 17px -1px #1f1139;
      &.mobile {
        display: none;
      }
    }
    .blob {
      display: none;
    }
  }
}
