<div class="col slide">
  <div class="row header align-items-center">
    <div class="col-lg-6 header-left">
      <h1 class="logo">
        <a routerLink="/">HeadScroll.io <span class="bold bg-beta rounded px-1">beta</span></a>
      </h1>
    </div>
    <div class="col-lg-6 header-right">
      <a class="contrast-color" href="#privacy-section">Privacy</a>
      <a class="contrast-color" href="#about-section">About</a>
      <a class="contrast-color" routerLink="/faq">FAQ</a>
    </div>
  </div>
  <div class="row content">
    <div class="col-lg-6 content-left">
      <div class="square mobile">
        <iframe class="w-100" height="100%" src="https://www.youtube-nocookie.com/embed/_nxo6LNH9fo?autoplay=1&controls=0&loop=1&playlist=_nxo6LNH9fo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h2 class="title">Scroll music tabs with your head</h2>
      <p class="description">Navigate up and down by simply tilting your head. Perfect for playing an instrument!</p>

      <p class="call-to-action">
        Try the
        <a
          [routerLink]="['/scroller']"
          [queryParams]="{ website: 'https://tabs.ultimate-guitar.com/tab/foo-fighters/times-like-these-chords-1211863' }"
          class="call-to-action button demo"
          >demo</a
        >
        or enter a website:
      </p>
      <div class="url-field">
        <app-search-field (search)="search($event)"></app-search-field>
      </div>
    </div>
    <div class="col-lg-6 content-right">
      <img src="assets/wave2.svg" class="wave" alt="" />
      <div class="square">
        <iframe title="Video of person tilting his head to scroll a website through HeadScroll" class="w-100" height="100%" src="https://www.youtube-nocookie.com/embed/_nxo6LNH9fo?autoplay=1&controls=0&loop=1&playlist=_nxo6LNH9fo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
