<div class="col slide">
  <div class="row header align-items-center">
    <div class="col-lg-6 header-left">
      <h1 class="logo">
        <a routerLink="/">HeadScroll.io <span class="bold bg-beta rounded px-1">beta</span></a>
      </h1>
    </div>
    <div class="col-lg-6 header-right">
      <a class="contrast-color" href="#privacy-section">Privacy</a>
      <a class="contrast-color" href="#about-section">About</a>
      <a class="contrast-color" routerLink="/faq">FAQ</a>
    </div>
  </div>
  <div class="row content">
    <div class="col-lg-6 content-left">
      <div class="square mobile"></div>
      <h2 class="title">Scroll websites with your head</h2>
      <p class="description">
        Navigate websites up and down by simply tilting your head – perfect for playing an instrument or reading a recipe while cutting
        onions.
      </p>
      <p class="call-to-action">Enter a website below and click go:</p>
      <div class="url-field">
        <app-search-field (search)="search($event)"></app-search-field>
      </div>
    </div>
    <div class="col-lg-6 content-right">
      <img src="assets/wave.svg" class="wave" alt="" />
      <div class="square"></div>
      <!-- <video class="demo" autoplay loop>
          <source src="assets/demo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> -->
    </div>
  </div>
</div>
