<div class="row slide">
  <div class="col">
    <div class="row header align-items-center">
      <div class="col-md-6 header-left">
        <button type="button" class="menu" (click)="sidenav.open()">(M)</button>
        <h1 class="logo ">HeadScroll.io</h1>
      </div>
      <div class="col-md-6 header-right">
        <a href="" class="text-alpha ml-5">Privacy</a>
        <a href="" class="text-alpha ml-5">FAQ</a>
        <a href="" class="text-alpha ml-5">About</a>
      </div>
    </div>
    <div class="row mt-5 content">
      <div class="col-md-6">
        <h2 class="title ">Scroll websites with your head</h2>
        <p class="description ">
          Navigate websites up and down by simply tilting your head – perfect for playing an instrument or reading a recipe while cutting onions.
          <!-- This app gives you an easy solution for scrolling without using your hands. It allows you to navigate up and down a website just by tilting your head – perfect for playing an instrument or reading a recipe while cutting onions. -->
        </p>
        <p class="call-to-action ">Enter a website below and click go:</p>
        <div class="url-field">
          <div class="url">
            <mat-icon class="link-icon" [class.focused]="isInputFocused" aria-hidden="false" aria-label="link icon">insert_link</mat-icon>
            <input type="text" (focus)="isInputFocused = true" (blur)="isInputFocused = false" />
            <button class="">Go</button>
          </div>
        </div>
        <div><button>Fill for me</button></div>
      </div>
      <div class="col-md-6 ">
        <img src="assets/wave.svg" class="wave1" alt="">
        <video class="w-100" autoplay loop>
          <source src="assets/demo.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>
