@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.slide {
  text-align: center;
}

.logo {
  font-weight: 100;
  margin: 20px 0;
  font-size: 30px;
  display: inline-block;
}

.header-right {
  display: none;
}

.content {
  margin-top: 1.5vh;
  .square {
    width: 85vw;
    height: 55vw;
    background-color: white;
    display: inline-block;
    margin-bottom: 1rem;
    &.desktop {
      display: none;
    }
  }
  .title {
    font-size: 13vw;
    margin-bottom: 3vw;
  }

  .description {
    margin-bottom: 7vh;
    font-weight: 100;
    font-size: 16px;
    font-size: max(16px, 2.5vw);
    padding: 0px 18px;
  }

  .call-to-action {
    font-size: min(30px, 6vw);
    margin-bottom: 1rem;
    font-weight: 100;
  }
  .url {
    position: relative;
    box-shadow: 0px 0px 32px -14px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    display: flex;
    &:hover {
      .link-icon {
        color: $alpha;
      }
    }
    .link-icon {
      position: absolute;
      left: 12px;
      top: 6px;
      font-size: 25px;
      color: darkgray;
      z-index: 10;
      &.focused {
        color: $alpha;
      }
    }
    input {
      position: relative;
      width: calc(100% - 3rem);
      padding-left: 45px;
      height: 3rem;
      border: none;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      color: $alpha;
      outline-color: $alpha;
    }
    button {
      height: 3rem;
      width: 3rem;
      border: none;
      background-color: $beta;
      color: $omega;
      font-weight: 200;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      font-size: 26px;
      border-bottom-right-radius: 10px;
      height: 3rem;
      outline-color: $alpha;
      &:hover {
        background-color: darken($beta, 5);
      }
    }
  }
  .wave {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .slide {
    text-align: inherit;
  }
  .header-left {
    text-align: left;
    .logo {
      font-size: 40px;
    }
  }
  .header-right {
    display: block;
    text-align: right;
  }
  .content {
    margin-top: 3rem;
    margin-bottom: 10vh;
    .content-right {
      text-align: right;
    }
    .title {
      font-size: 6vw;
      margin-bottom: 2rem;
    }
    .description {
      margin-bottom: 10rem;
      line-height: 2rem;
      font-size: max(20px, 1vw);
    }
    .call-to-action {
      font-size: max(32px, 1.6vw);
    }
    .wave {
      display: block;
      position: absolute;
      transform: rotate(108deg);
      z-index: -1;
      width: 228vh;
      left: -59vh;
      top: -95vh;
    }
    .square {
      width: 30vw;
      height: 20vw;
      &.desktop {
        display: inline-block;
      }
      &.mobile {
        display: none;
      }
    }
    .blob {
      display: none;
    }
  }
}
