@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.slide {
  text-align: center;
}

.content {
  margin-top: 1.5vh;
  .content-right {
    display: none;
  }
  .square {
    border-radius: 10px;
    width: 85vw;
    height: 55vw;
    background-color: white;
    display: inline-block;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 13vw;
    margin-bottom: 3vw;
  }

  .description {
    margin-bottom: 7vh;
    font-weight: 100;
    font-size: 16px;
    font-size: max(16px, 2.5vw);
    padding: 0px 18px;
  }

  .call-to-action {
    font-size: min(30px, 6vw);
    margin-bottom: 1rem;
    font-weight: 100;
  }
}

@include media-breakpoint-up(lg) {
  .slide {
    text-align: inherit;
  }
  .content {
    margin-top: 3rem;
    margin-bottom: 10vh;
    .content-right {
      display: block;
      text-align: right;
    }
    .title {
      font-size: 6vw;
      margin-bottom: 2rem;
    }
    .description {
      margin-bottom: 10rem;
      line-height: 2rem;
      font-size: max(20px, 1vw);
      padding: 0px;
    }
    .call-to-action {
      font-size: 2.5rem;
    }

    .wave {
      display: block;
      position: absolute;
      transform: rotate(108deg);
      z-index: -1;
      width: 228vh;
      left: -59vh;
      top: -95vh;
    }
    .square {
      width: 30vw;
      height: 20vw;
      &.mobile {
        display: none;
      }
    }
    .blob {
      display: none;
    }
  }
}
