<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>HeadScroll</span>
  <span class="spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
  <mat-form-field appearance="fill">
    <mat-select (selectionChange)="changeCamera()" [(value)]="selectedCamera">
      <mat-option [value]="cam.deviceId" *ngFor="let cam of availableCameras">{{ cam.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="zoomIn()" aria-label="Zoom in">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomOut()" aria-label="Zoom out">
    <mat-icon>zoom_out</mat-icon>
  </button>
</mat-toolbar>
<div class="camera">
  <mat-spinner class="spinner" *ngIf="isLoadingCamera"></mat-spinner>
  <canvas #canvas class="canvas" [width]="this.CAMERA_SIZE" [height]="this.CAMERA_SIZE"></canvas>
  <div class="emoji down" *ngIf="hasTiltedLeft()">👇</div>
  <div class="emoji up" *ngIf="hasTiltedRight()">👆</div>
</div>
<div #iframeWrapper class="iframe-wrapper">
  <iframe class="iframe" [style.transform]="getZoom()" #iframe [src]="source" [style.height.%]="iframeHeight"></iframe>
</div>
