<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="Menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>HeadScroll</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="zoomIn()" aria-label="Zoom in" matTooltip="Zoom in">
    <mat-icon>zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="zoomOut()" aria-label="Zoom out" matTooltip="Zoom out">
    <mat-icon>zoom_out</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="sidenav-menu">
    <div class="menu-item">
      <button mat-raised-button [matMenuTriggerFor]="menu" matTooltip="Switch camera" color="primary">
        <mat-icon>videocam</mat-icon> Switch Camera
      </button>
      <mat-menu #menu="matMenu">
        <button (click)="changeCamera(cam.deviceId)" *ngFor="let cam of availableCameras" mat-menu-item>
          {{ cam.label }}
        </button>
      </mat-menu>
    </div>
    <div class="menu-item">
      <button
        mat-raised-button
        (click)="showSkeleton = !showSkeleton"
        matTooltip="Toggle skeleton view"
        color="primary"
      >
        <mat-icon *ngIf="showSkeleton">visibility</mat-icon>
        <mat-icon *ngIf="!showSkeleton">visibility_off</mat-icon> Toggle Skeleton
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="camera" [class.mobile]="isMobile" [style.height.px]="cameraSize">
      <mat-spinner class="spinner" color="accent" *ngIf="isLoadingCamera"></mat-spinner>
      <canvas #canvas class="canvas" [width]="cameraSize" [height]="cameraSize"></canvas>
      <div class="emoji down" [class.mobile]="isMobile" *ngIf="hasTiltedLeft()">👇</div>
      <div class="emoji up" [class.mobile]="isMobile" *ngIf="hasTiltedRight()">👆</div>
    </div>
    <div #iframeWrapper class="iframe-wrapper" [class.mobile]="isMobile">
      <iframe class="iframe" [style.transform]="getZoom()" #iframe [src]="source" [height]="iframeHeight"></iframe>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
