<div class="row pre-slide" id="about-section">
  <div class="col">
    <img src="assets/separator.svg" class="separator" alt="" />
  </div>
</div>

<div class="row slide">
  <div class="col-lg-6">
    <div class="row slide">
      <div class="col">
        <picture>
          <source srcset="assets/juan.webp" type="image/webp" />
          <img class="picture" src="assets/juan.jpg" alt="Picture of Juan smiling" />
        </picture>
      </div>
      <div class="col">
        <picture>
          <source srcset="assets/felipe.webp" type="image/webp" />
          <img class="picture" src="assets/felipe.jpg" alt="Picture of Felipe smiling" />
        </picture>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h2 class="title">About</h2>
    <div class="steps text-left">
      <p class="summary">
        Hello there! this is <b>Juan Herrera</b> and <b>Felipe Jaramillo</b>, two Colombian software engineers currently based in Austria.
      </p>
      <p class="description">
        We've known each other for more than five years, and through time we've come to realize that we have similar goals in our lives, be
        among the best developers in the world and having an impact on our planet. For this, we decided to join together to solve problems
        and learn new technologies through the process. head-scroll is just our first attempt and we are very proud of how we solved it, we
        hope you enjoy it as much as we do.<br /><br />

        Follow us on Twitter, <a class="external-link" href="https://twitter.com/jdjuan" target="_blank">@jdjuan</a> -
        <a class="external-link" href="https://twitter.com/jdjuan" target="_blank">@p1p3j</a>, or subscribe to our
        <a
          class="external-link"
          href="https://jdjuan.us2.list-manage.com/subscribe/post?u=395582e416a0c357e50836500&id=4a66f17d42"
          target="_blank"
          >Newsletter</a
        >
        to hear about future projects.
      </p>
    </div>
    <br /><br />
  </div>
</div>
