<div class="row pre-slide" id="about-section">
  <div class="col">
    <img src="assets/separator.svg" class="separator" alt="" />
  </div>
</div>

<div class="row slide">
  <div class="col-lg-6">
    <div class="row">
      <div class="col text-right">
        <a href="https://twitter.com/jdjuan" target="_blank" rel="noopener noreferrer">
          <picture>
            <source srcset="assets/juan.webp" type="image/webp" />
            <img class="picture" src="assets/juan.png" alt="Picture of Juan smiling" />
          </picture>
        </a>
      </div>
      <div class="col text-left">
        <a href="https://twitter.com/p1p3j" target="_blank" rel="noopener noreferrer">
          <picture>
            <source srcset="assets/felipe.webp" type="image/webp" />
            <img class="picture" src="assets/felipe.png" alt="Picture of Felipe smiling" />
          </picture>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <h2 class="title">About</h2>
    <div class="steps text-left">
      <p class="summary">
        We are <span class="bold">Juan</span> and <span class="bold">Felipe</span>, two Colombian software engineers based in Austria.
      </p>
      <p class="description">
        After playing guitar for about 20 years, Juan noticed he always interrupted his "delightful" concerts to scroll his tabs. A
        procrastination whim lured him into finding a solution. There wasn't any, yet.
        <br />
        Juan procrastinated 200 hours more trying to build HeadScroll just to realize he couldn't do it alone. He reached out to Felipe and
        convinced him they could finally become popular with this "one" idea. Felipe believed him. And here we are.
        <br /><br />

        Follow us on Twitter (<a class="external-link" href="https://twitter.com/jdjuan" rel="noopener noreferrer" target="_blank">Juan</a>,
        <a class="external-link" rel="noopener noreferrer" href="https://twitter.com/jdjuan" target="_blank">Felipe</a>), or
        <a
          class="external-link"
          rel="noopener noreferrer"
          href="https://jdjuan.us2.list-manage.com/subscribe/post?u=395582e416a0c357e50836500&id=4a66f17d42"
          target="_blank"
          >subscribe</a
        >
        to hear about future projects.
      </p>
    </div>
    <br /><br />
  </div>
</div>
