<div class="row slide">
  <div class="col-lg-6">
    <div class="square"></div>
  </div>
  <div class="col-lg-6">
    <h2 class="title">Our Bookmarklet</h2>
    <h4 class="subtitle">The fastest way to use HeadScroll</h4>
    <h5 class="note">(desktop only)</h5>
    <div class="steps text-left">
      <p class="description">1. Drag <a (click)="prevent($event)" class="bookmarklet" href="javascript: window.open('https://headscroll.vercel.app/' + encodeURIComponent(location.href));">this</a> into your bookmarks</p>
      <p class="description">2. Open a website you'd like to scroll</p>
      <p class="description">3. Press the bookmarklet!</p>
    </div>
    <br /><br />
  </div>
</div>
