@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.slide {
  margin-top: max(6rem, 10vw);
  text-align: center;
}

.square {
  width: 85vw;
  height: 55vw;
  background-color: white;
  display: inline-block;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.title {
  font-size: min(60px, 7vh);
}

.subtitle {
  font-weight: 300;
  background-color: $beta;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: max(2vw, 20px);
}
.note {
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
}

.steps {
  margin-top: 2rem;
  padding-left: 4vw;
}

.description {
  font-size: min(5.5vw, 1.6rem);
  font-weight: 100;
}

.bookmarklet {
  background-color: $omega;
  color: $alpha;
  padding: 0px 6px;
  border-radius: 6px;
  box-shadow: 0px 0px 11px 0px #3c346a;
  font-weight: 200;
  transition: background-color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
  cursor: grab;
  &:hover {
    text-decoration: none;
    background-color: $beta;
    color: $omega;
  }
}

@include media-breakpoint-up(lg) {
  .slide {
    margin-top: 10rem;
    text-align: inherit;
  }
  .square {
    width: 40vw;
    height: 30vw;
  }
  .title {
    font-size: 5vw;
  }
  .steps {
    padding: 0;
  }
  .description {
    font-size: 2.5rem;
    font-weight: 100;
  }
}
