@import "~src/assets/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.video {
  position: absolute;
  z-index: 100;
  right: 0;
  bottom: 0;
  width: 20vw;
  margin-right: 1rem;
  transform: rotateY(180deg);
  border-radius: 10px;
  background-color: $alpha;
}

.loading {
  transform: rotateY(0deg);
}

::ng-deep .progress-bar {
  font-size: 2rem;
}

@include media-breakpoint-up(lg) {
  .video {
    position: static;
    width: 100%;
    margin-right: 0;
  }
}
