@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.camera {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 21px;
  .canvas {
    width: 100%;
    border-radius: 10px;
    background-color: $alpha;
  }
}

@include media-breakpoint-up(lg) {
  .camera {
    right: initial;
    bottom: -6px;
    .canvas {
      width: calc(100% - 15px);
    }
  }
}
