@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.camera {
  position: absolute;
  z-index: 10;
  bottom: -1px;
  right: 21px;
  .spinner {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  .canvas {
    width: 100%;
    border-radius: 10px;
    background-color: $alpha;
  }
}

@include media-breakpoint-up(lg) {
  .camera {
    bottom: 0;
    left: 0;
  }
}
