@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.url {
  position: relative;
  box-shadow: 0px 0px 32px -14px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  display: flex;
  &:hover .link-icon {
    color: $alpha;
  }
  .link-icon {
    position: absolute;
    left: 6px;
    top: 5px;
    font-size: 16px;

    color: $delta;
    z-index: 10;
    &.focused {
      color: $alpha;
    }
  }
  input {
    position: relative;
    width: calc(100% - 2rem);
    font-size: 12px;
    height: 2rem;
    padding-left: 25px;

    border: none;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    color: $alpha;
    outline-color: $alpha;
    &::placeholder {
      color: $delta;
    }
  }
  .submit-button {
    font-size: 16px;
    height: 2rem;
    width: 2rem;
    font-weight: 300;
    border: none;
    background-color: $beta;
    color: $omega;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    outline-color: $alpha;
    &:hover {
      background-color: darken($beta, 5);
    }
  }
}
.error {
  font-weight: 300;
  font-size: 15px;
  margin-top: 7px;
  background-color: $pi;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  .icon {
    margin-right: 0.5rem;
  }
}
.spinner {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 1rem;
  height: 1rem;
  border-width: 0.2em;
}
.url.disabled {
  .link-icon {
    color: $delta;
  }
  .submit-button:hover {
    background-color: $beta;
  }
}
.favicon {
  position: absolute;
  width: 16px;
  left: 5px;
  top: 9px;

  z-index: 20;
}
::ng-deep .error-tooltip {
  opacity: 1 !important;
  .tooltip-inner {
    background-color: $pi;
    color: $omega;
  }
  .arrow::before {
    border-left-color: $pi;
  }
}

@include media-breakpoint-up(lg) {
  .error {
    font-weight: 300;
    font-size: 20px;
  }
  .spinner {
    width: 2rem;
    height: 2rem;
    border-width: 0.3rem;
  }
  .favicon {
    width: 28px;
    left: 10px;
    top: 10px;
  }
  .url {
    .link-icon {
      left: 12px;
      top: 5px;
      font-size: 25px;
    }
    input {
      width: calc(100% - 3rem);
      height: 3rem;
      padding-left: 45px;
      font-size: inherit;
    }
    .submit-button {
      font-size: 26px;
      height: 3rem;
      width: 3rem;
      font-weight: 200;
    }
  }
}
