<div class="url" [class.disabled]="loading">
  <i class="bi bi-link-45deg link-icon" [class.focused]="isInputFocused" aria-hidden="false" aria-label="link icon"></i>
  <input
    type="url"
    #validation="ngModel"
    placeholder="Your URL"
    [disabled]="loading"
    [(ngModel)]="website"
    (keydown)="cleanValidation()"
    (keydown.enter)="onSearch()"
    (focus)="isInputFocused = true"
    (blur)="isInputFocused = false"
    required
  />
  <button class="submit-button" type="button" [disabled]="loading" (click)="onSearch()">{{ loading ? "" : "Go" }}</button>
  Loading: {{loading}}
  <div *ngIf="loading" class="spinner-border spinner" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<span class="error" *ngIf="validation.invalid && (hasSearched || validation.touched)">
  <i class="bi bi-info-circle-fill icon"></i> Please enter a website above.
</span>
<span class="error" *ngIf="notEmbeddable"
  ><i class="bi bi-info-circle-fill icon"></i> We cannot scroll this website, check your spelling or try another one.
  <u [ngbTooltip]="tipContent" placement="bottom">Why?</u></span
>
<ng-template #tipContent
  >Some websites have extra security that protects them from being embedded onto another website (CORS). There's nothing we can do about it.
  We're sorry!</ng-template
>
