<div [class.compact]="isCompactVersion">
  <div class="url" [class.disabled]="isLoading">
    <img [src]="favicon" *ngIf="shouldShowFavicon" class="favicon" (error)="shouldShowFavicon = false" alt="" />
    <i *ngIf="!shouldShowFavicon" class="bi bi-link-45deg link-icon" [class.focused]="isInputFocused" aria-hidden="false" aria-label="link icon"></i>
    <input
      type="url"
      #validation="ngModel"
      placeholder="https://www.ultimate-guitar.com/"
      [disabled]="isLoading"
      [(ngModel)]="website"
      (keydown.enter)="onSearch(website)"
      (focus)="isInputFocused = true"
      (blur)="isInputFocused = false"
      [ngbTooltip]="tipError"
      triggers="manual"
      #tooltip="ngbTooltip"
      tooltipClass="error-tooltip"
      [placement]="isCompactVersion ? 'left' : 'bottom'"
      required
    />
    <button class="submit-button" type="button" [disabled]="isLoading" (click)="onSearch(website)">
      {{ isLoading ? "" : "Go" }}
    </button>
    <div *ngIf="isLoading" class="spinner-border spinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ng-template #tipError>{{ errorTooltipMessage }}</ng-template>
</div>
