@import "~src/assets/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hide {
  display: none;
}

.modal-content {
  border-radius: 10px;
  border: none;
}

.config-modal .modal-content {
  padding: 1rem;
  background-color: #6155a6;
  text-align: center;
}

.slide {
  padding: 0px;
}

.button {
  border: none;
  background-color: $beta;
  color: $omega;
  font-weight: 200;
  font-size: 1rem;
  height: 3rem;
  padding: 10px 13px;
  outline-color: $alpha;
  box-shadow: 0px 0px 32px -14px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
  transition: background-color 0.25s cubic-bezier(0.39, 0.58, 0.57, 1);
  &:hover {
    background-color: darken($beta, 5);
    color: inherit;
    text-decoration: none;
  }
}

.bold {
  font-weight: 300;
}

.external-link {
  color: $beta;
  font-weight: 400;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
  }
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.logo {
  font-weight: 100;
  margin: 20px 0;
  font-size: 30px;
  display: inline-block;
}

.header-right {
  a {
    margin: 0 1rem;
  }
  a:hover {
    text-decoration: underline;
  }
  color: $omega;
}

@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(md) {
  .slide {
    padding: 0px 30px;
  }
}
@include media-breakpoint-up(lg) {
  .slide {
    padding: 0px 60px;
  }
  .header-left {
    text-align: left;
    .logo {
      font-size: 40px;
    }
  }
  .header-right {
    color: $omega;
    display: block;
    text-align: right;
    a {
      margin-left: 3rem;
      &.contrast-color {
        color: $alpha;
      }
    }
  }
}
