@import "~src/assets/bootstrap.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.spacer {
  flex: 1 1 auto;
}

// div[class="row"] {
//   outline: 1px dotted rgba(0, 0, 0, 0.25);
// }

// div[class^="col"] {
//   background-color: rgba(255, 0, 0, 0.2);
//   outline: 1px dotted rgba(0, 0, 0, 0.5);
// }

.slide {
  height: 94vh;
  padding: 0px;
}

@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(md) {
  .slide {
    height: 100vh;
    padding: 0px 30px;
  }
}
@include media-breakpoint-up(lg) {
  .slide {
    height: 100vh;
    padding: 0px 60px;
  }
}
