/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./assets/material.scss";
@import "~bootstrap/scss/bootstrap";
@import "~src/assets/custom.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

// div[class="row"] {
//   outline: 1px dotted rgba(0, 0, 0, 0.25);
// }

// div[class^="col"] {
//   background-color: rgba(255, 0, 0, 0.2);
//   outline: 1px dotted rgba(0, 0, 0, 0.5);
// }

.slide {
  height: 94vh;
  padding: 0px;
}

@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(md) {
  .slide {
    height: 100vh;
    padding: 0px 30px;
  }
}
@include media-breakpoint-up(lg) {
  .slide {
    height: 100vh;
    padding: 0px 60px;
  }
}
