@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~src/assets/variables";

.config-option {
  margin-bottom: 1.5rem;
  text-align: center;
}

.config-title {
  font-weight: 300;
  font-size: 20px;
  padding: 2px;
  border-radius: 4px;
}

.star {
  font-size: 1rem;
  color: $omega;
  font-weight: 300;
}
.filled {
  color: $beta;
}

.camera-select {
  cursor: pointer;
  font-weight: 300;
  background-color: $omega;
  max-width: 17rem;
}

.sent-label {
  margin-top: 7px;
}

.report-button {
  border-color: $beta;
  color: $omega;
  background-color: $beta;
}

.btn-omega {
  font-weight: 300;
  box-shadow: 0px 0px 12px -1px darken($alpha, 10);
}
.btn-omega:not(:disabled):not(.disabled).active {
  background-color: $beta;
  border-color: $beta;
  color: $omega;
}

@include media-breakpoint-up(lg) {
  .config-title {
    font-weight: 200;
  }
  .camera-select {
    font-weight: 200;
  }
  .star {
    font-weight: inherit;
  }
  .rating-desktop {
    display: block;
  }
  .btn-omega {
    font-weight: 200;
  }
}
