<app-modal
  title="WebGL is not supported"
  buttonText="Reload Website"
  link="https://twitter.com/jdjuan"
  linkText="Still stuck? Send me a message"
  assetName="error"
  altText="Computer with an alert"
  (proceed)="done()"
>
  We need <span class="bold">your help</span> fixing this.
  <a href="https://wevideo.zendesk.com/hc/en-us/articles/225259448-How-to-enable-WebGL" target="_blank"><u>Here</u></a> are some
  instructions on how to enable WebGL. Try them out and then reload the website.</app-modal
>
