<app-modal
  title="Beware that..."
  buttonText="Sure, I won't judge"
  assetName="computer"
  altText="Woman using a computer"
  (proceed)="done()"
  [compact]="true"
>
  HeadScroll is mostly suited for <span class="bold">desktop devices</span>. Small devices might not offer the best experience. So we ask for your understanding.
  <br />
  <div class="skip">
    <input (change)="updateWarningStatus($event.target.checked)" class="check-input" type="checkbox" id="flexCheckDefault" />
    <label class="label" for="flexCheckDefault"> Don't show this again </label>
  </div>
</app-modal>
